*.class
target/

# Package Files #
*.jar
*.war
*.ear
/masteroutAsTest.txt
/seed_35443_test.txt
/seed_35444_test.txt
/seed_35445_test.txt
/seed_35446_test.txt
/seed_35447_test.txt
/seed_35448_test.txt
/seed_35449_test.txt
/seed_35450_test.txt
/seed_35451_test.txt
/seed_35452_test.txt
/seed_35453_test.txt
/seed_35454_test.txt
